body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html body #root {
  width: 100vw;
  height: 100vh;
}

span {
  font-weight: bold;
}

.orangebutton {
  background-color: #f56b2b;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-family: unset;
  font-weight: bold;
  border-color: transparent;
  cursor: pointer;
}

.bluebutton {
  background-color: #4283d7;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-family: unset;
  font-weight: bold;
  border-color: transparent;
  cursor: pointer;
}

.transpbutton {
  background-color: transparent;
  border-radius: 5px;
  color: #4283d7;
  padding: 10px;
  font-family: unset;
  font-weight: bold;
  border-color: transparent;
  cursor: pointer;
  border-color: #4283d7;
}

.whitebutton {
  background-color: white;
  color: black;
  padding: 10px;
  font-family: unset;
  border-color: transparent;
  cursor: pointer;
  font-size: initial;
}
.whitebutton:hover {
  border-bottom-color: #f56b2b;
}

.logo {
  height: 60px;
  width: 140px;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.header-left {
  display: flex;
  justify-content: center;
}

.header-btns {
  display: flex;
  margin-left: 10px;
}

.card {
  width: 620px;
  height: 170px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  cursor: pointer;
  margin-bottom: 5px;
}
.text-card {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

/* .footer {

} */
